<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titleString</key>
		<string>推荐直播</string>
		<key>imageName</key>
		<string>home_region_icon_live_v2</string>
		<key>contentString</key>
		<string>当前有2756个直播</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>番剧推荐</string>
		<key>imageName</key>
		<string>category_cinema_icon</string>
		<key>contentString</key>
		<string>更多番剧</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>动画区</string>
		<key>imageName</key>
		<string>home_region_icon_1</string>
		<key>contentString</key>
		<string>更多动画</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>音乐区</string>
		<key>imageName</key>
		<string>home_region_icon_3</string>
		<key>contentString</key>
		<string>更多音乐</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>舞蹈区</string>
		<key>imageName</key>
		<string>home_region_icon_129</string>
		<key>contentString</key>
		<string>更多舞蹈</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>游戏区</string>
		<key>imageName</key>
		<string>home_region_icon_4</string>
		<key>contentString</key>
		<string>更多游戏</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>鬼畜区</string>
		<key>imageName</key>
		<string>home_region_icon_119</string>
		<key>contentString</key>
		<string>更多鬼蓄</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>科技区</string>
		<key>imageName</key>
		<string>home_region_icon_36</string>
		<key>contentString</key>
		<string>更多科技</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>活动中心</string>
		<key>imageName</key>
		<string>home_recommend_activity</string>
		<key>contentString</key>
		<string>更多活动</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>生活区</string>
		<key>imageName</key>
		<string>home_region_icon_160</string>
		<key>contentString</key>
		<string>更多生活</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>时尚区</string>
		<key>imageName</key>
		<string>ic_category_t155</string>
		<key>contentString</key>
		<string>更多时尚</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>广告区</string>
		<key>imageName</key>
		<string>home_region_icon_165</string>
		<key>contentString</key>
		<string>更多广告</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>娱乐区</string>
		<key>imageName</key>
		<string>home_region_icon_155</string>
		<key>contentString</key>
		<string>更多娱乐</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>电视剧区</string>
		<key>imageName</key>
		<string>home_region_icon_11</string>
		<key>contentString</key>
		<string>更多电视剧</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>电影</string>
		<key>imageName</key>
		<string>home_region_icon_23</string>
		<key>contentString</key>
		<string>更多电影</string>
	</dict>
</array>
</plist>
