<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>titleString</key>
			<string>离线缓存</string>
			<key>imageName</key>
			<string>mine_download</string>
		</dict>
		<dict>
			<key>titleString</key>
			<string>历史记录</string>
			<key>imageName</key>
			<string>mine_history</string>
		</dict>
		<dict>
			<key>titleString</key>
			<string>我的收藏</string>
			<key>imageName</key>
			<string>mine_favourite</string>
		</dict>
		<dict>
			<key>titleString</key>
			<string>我的关注</string>
			<key>imageName</key>
			<string>mine_follow</string>
		</dict>
		<dict>
			<key>titleString</key>
			<string>我的钱包</string>
			<key>imageName</key>
			<string>mine_pocketcenter</string>
		</dict>
		<dict>
			<key>titleString</key>
			<string>游戏中心</string>
			<key>imageName</key>
			<string>mine_gamecenter</string>
		</dict>
		<dict>
			<key>titleString</key>
			<string>主题选择</string>
			<key>imageName</key>
			<string>mine_theme</string>
		</dict>
		<dict>
			<key>titleString</key>
			<string>大会员</string>
			<key>imageName</key>
			<string>mine_vipmember</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>titleString</key>
			<string>回复我的</string>
			<key>imageName</key>
			<string>mine_answerMessage</string>
		</dict>
		<dict>
			<key>titleString</key>
			<string>@我</string>
			<key>imageName</key>
			<string>mine_shakeMe</string>
		</dict>
		<dict>
			<key>titleString</key>
			<string>收到的赞</string>
			<key>imageName</key>
			<string>mine_gotPrise</string>
		</dict>
		<dict>
			<key>titleString</key>
			<string>私信</string>
			<key>imageName</key>
			<string>mine_privateMessage</string>
		</dict>
		<dict>
			<key>titleString</key>
			<string>系统通知</string>
			<key>imageName</key>
			<string>mine_systemNotification</string>
		</dict>
		<dict>
			<key>titleString</key>
			<string></string>
			<key>imageName</key>
			<string></string>
		</dict>
		<dict>
			<key>titleString</key>
			<string></string>
			<key>imageName</key>
			<string></string>
		</dict>
		<dict>
			<key>titleString</key>
			<string></string>
			<key>imageName</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
