<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titleString</key>
		<string>绘画专区</string>
		<key>imageName</key>
		<string>live_categories_ico_9</string>
		<key>contentString</key>
		<string>当前有2756个直播，进去看看</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>手机直播</string>
		<key>imageName</key>
		<string>live_categories_ico_11</string>
		<key>contentString</key>
		<string>当前有2756个直播，进去看看</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>歌见舞见</string>
		<key>imageName</key>
		<string>live_categories_ico_10</string>
		<key>contentString</key>
		<string>当前有2756个直播，进去看看</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>手机直播</string>
		<key>imageName</key>
		<string>live_categories_ico_12</string>
		<key>contentString</key>
		<string>当前有2756个直播，进去看看</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>单机联机</string>
		<key>imageName</key>
		<string>live_categories_ico_1</string>
		<key>contentString</key>
		<string>当前有2756个直播，进去看看</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>网络游戏</string>
		<key>imageName</key>
		<string>live_categories_ico_3</string>
		<key>contentString</key>
		<string>当前有2756个直播，进去看看</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>电子竞技</string>
		<key>imageName</key>
		<string>live_categories_ico_4</string>
		<key>contentString</key>
		<string>当前有2756个直播，进去看看</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>御宅文化</string>
		<key>imageName</key>
		<string>live_categories_ico_2</string>
		<key>contentString</key>
		<string>当前有2756个直播，进去看看</string>
	</dict>
	<dict>
		<key>titleString</key>
		<string>放映厅</string>
		<key>imageName</key>
		<string>live_categories_ico_7</string>
		<key>contentString</key>
		<string>当前有2756个直播，进去看看</string>
	</dict>
</array>
</plist>
