<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>中国大陆</key>
		<string>+86</string>
	</dict>
	<dict>
		<key>澳门特区</key>
		<string>+853</string>
	</dict>
	<dict>
		<key>台湾</key>
		<string>+886</string>
	</dict>
	<dict>
		<key>美国</key>
		<string>+1</string>
	</dict>
	<dict>
		<key>香港</key>
		<string>+852</string>
	</dict>
	<dict>
		<key>比利时</key>
		<string>+32</string>
	</dict>
	<dict>
		<key>澳大利亚</key>
		<string>+61</string>
	</dict>
	<dict>
		<key>法国</key>
		<string>+33</string>
	</dict>
	<dict>
		<key>加拿大</key>
		<string>+1</string>
	</dict>
	<dict>
		<key>日本</key>
		<string>+81</string>
	</dict>
	<dict>
		<key>新加坡</key>
		<string>+65</string>
	</dict>
	<dict>
		<key>韩国</key>
		<string>+82</string>
	</dict>
	<dict>
		<key>马来西亚</key>
		<string>+60</string>
	</dict>
	<dict>
		<key>英国</key>
		<string>+44</string>
	</dict>
	<dict>
		<key>意大利</key>
		<string>+39</string>
	</dict>
	<dict>
		<key>德国</key>
		<string>+49</string>
	</dict>
	<dict>
		<key>俄罗斯</key>
		<string>+7</string>
	</dict>
	<dict>
		<key>新西兰</key>
		<string>+64</string>
	</dict>
</array>
</plist>
